{% if x > y%}
{{x}} > {{y}} hence This file is for {{user_name1}}
{% else %}
{{x}} < {{y}} hence This file is for {{user_name2}}
{% endif %}


{% for each in z%}
This is for {{each}} iteration {{user_name1}}
{% endfor %}



